html {
  scroll-behavior: smooth;
}

 
body {
  margin: 0;
  padding: 0;
  background: #050505;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#root {
  background: #050505;
}

/* Optional smooth selection */
::selection {
  background: #ff0000;
  color: white;
}
/* GRID BACKGROUND */
.hero-grid {
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 40px 40px;
}


/* HERO IMAGE REVEAL */
.animate-heroReveal {
  animation: heroReveal 1.8s ease forwards;
}

@keyframes heroReveal {

  0% {
    opacity: 0;
    transform: scale(0.92);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }

}
/* FLOAT ANIMATION */
.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

}